@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-smoothing: antialiased;

  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}